* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #111111;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.nav_conte {
  position: fixed;
  width: 75%;
  margin-left: 170px;
  z-index: 10;
}
nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

body.dark nav {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark nav a {
  color: #C8C8C8;
}

body.dark nav a:hover {
  color: #FEFEFE;
}

nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .enlaces a {
  margin-right: 40px;
}

nav .enlaces a:hover {
  color: #707070;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
}

.grid .card {
  background: #FEFEFE;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  min-height: 195px;
  margin-top: 50px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .grid .card {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid .card img {
  vertical-align: top;
  border-radius: 7px;
  position: absolute;
  top: -50px;
  width: calc(100% - 40px);
  max-height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .card .botones {
  width: 100%;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid .card .botones .boton {
  padding: 10px;
  color: #fff;
  width: 100%;
  display: block;
  background: #111111;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.grid .card .botones .boton.primario {
  background: #3E60E9;
}

.grid .card .botones .boton.primario:hover {
  background: #254BE6;
}

.grid .card .botones .boton.secundario {
  background: #C8C8C8;
}

.grid .card .botones .boton.secundario:hover {
  background: #ACABAB;
}
/*# sourceMappingURL=estilos.css.map */
.titulos{
  margin-left: 400px;
  margin-top: 43px;
}
/*Populares*/
.container__populares{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
}
.container__populares .main_catrtas_popular{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main_catrtas_popular{
  margin-left: -100%;
}
.container__populares .main_catrtas_popular .cartas_popular{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main_catrtas_popular .cartas_popular .carta_popular{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main_catrtas_popular .cartas_popular .carta_popular:hover{
  transform: translateY(-15px);
}
.cartas_popular .carta_popular .contenido_popular{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cartas_popular .carta_popular .contenido_popular .img_popular{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #FF676D;
  margin-bottom: 14px;
}
.carta_popular .contenido_popular .img_popular img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.carta_popular .contenido_popular .nombre_popular{
  font-size: 20px;
  font-weight: 500;
}
.carta_popular .contenido_popular .especialidad_popular{
  font-size: 20px;
  color: #FF676D;
}
.carta_popular .contenido_popular .media_icons_popular{
  margin-top: 10px;
  display: flex;

}
.media_icons_popular a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #FF676D;
  transition: all 0.3s ease;
}
.media_icons_popular a:hover{
  color: #FF676D;
  background-color: #fff;
  border-color: #FF676D;
}
 .container__populares .button_popular{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button_popular label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #2e2d2d;
  margin: 0 4px;
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button_popular label.active{
  width: 35px;
}
#one:checked ~ .button_popular .one{
  width: 35px;
}
#one:checked ~ .button_popular .two{
  width: 15px;
}
#two:checked ~ .button_popular .one{
  width: 15px;
}
#two:checked ~ .button_popular .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}

/*Informacion*/
.targets {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 20px;
}

.targets .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.targets .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.targets .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.targets .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.targets .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.targets .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.targets .back .link a {
  color: #f3f3f3;
}

.targets .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.targets .back p {
  letter-spacing: 1px;
} 

.targets:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.targets:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/*Footer*/
.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 180px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #191919;
  font-size: 18px;
}

.box__footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: #191919;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}
.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #191919;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
/*VENTANA REGISTRO*/
.Mega__boton{
    width: 100%;
}
#evento-click{
    display: none;
}
.container__modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#evento-click:checked ~ .container__modal{
    display: flex;
}
.content__modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 5px 5px 5px;
    border-top: solid 10px #1da0f2ba;
}
.content__modal .btn_cierre{
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
}
.content__modal .btn_cierre label{
    padding: 5px 7px;
    background-color: #bdbdbd;
    color: #1e1e2a;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content__modal .btn_cierre label:hover{
    background-color: #185e83;
    color: #fff;
}
.content__modal h2{
    margin-bottom: 15px;
}
.content__modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #bdbdbd;
}
.cerrar__ventana{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}